<header class="flex flex-col">
    <div class="flex-wrap sm:flex-nowrap upper-header flex justify-between my-2 container mx-auto px-4 py-2">
        <div class="order-3  bg-blackrounded-3xl mt-2 w-full sm:order-1 sm:hidden flex items-center min-w-32 relative">
            <input type="text" id="input-group-1" class="rounded-full border-2 border-gray-800 border-r-0 rounded-r-none text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">

            <button  class="rounded-r-full bg-black w-[50px] h-full grid place-content-center cursor-pointer" title="Search" (click)="showHideSearchBox()">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>

        </div>
        <div class="hidden  sm:flex items-center min-w-32 relative ">
            
            <input type="text" id="input-group-1" class="rounded-full text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search...">
            <div class="absolute inset-y-0 end-2 flex items-center ps-3.5 pointer-events-none">
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
          </div>
        <div class="logo-wrapper cursor-pointer">
            <img routerLink="/home" src="assets/svgs/sunken_treasures_light_logo.svg" class="h-16 inline-block"/>
        </div>
        <ul class="accounts flex gap-2 list-none items-center">
            <li class="hidden sm:inline-block" routerLink="/login">Login</li>
            <li class="hidden sm:inline-block" routerLink="/register">Register</li>
            <li routerLink="/cart" class="cart relative cursor-pointer inline-block" title="Cart">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.144"/>
                    
                    <g id="SVGRepo_iconCarrier"> <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g>
                    
                    </svg>
                <span class="badge h-5 w-5 bg-black rounded-full absolute -top-2 -right-2 text-white text-xs place-items-center grid">
                    0
                </span>
            </li>
            <li class="ml-1 cursor-pointer" (click)="toggleSideNav()">
                <svg width="40" height="40" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 11.5C2.5 11.2239 2.72386 11 3 11H13C13.2761 11 13.5 11.2239 13.5 11.5C13.5 11.7761 13.2761 12 13 12H3C2.72386 12 2.5 11.7761 2.5 11.5Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 7.5C2.5 7.22386 2.72386 7 3 7H13C13.2761 7 13.5 7.22386 13.5 7.5C13.5 7.77614 13.2761 8 13 8H3C2.72386 8 2.5 7.77614 2.5 7.5Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.5 3.5C2.5 3.22386 2.72386 3 3 3H13C13.2761 3 13.5 3.22386 13.5 3.5C13.5 3.77614 13.2761 4 13 4H3C2.72386 4 2.5 3.77614 2.5 3.5Z" fill="black"/>
                    </svg>
            </li>
        </ul>
    </div>
    <span class="inline-block bg-gray-200 h-[1px] w-full"></span>

    

    <div class="lower-header container mx-auto overflow-hidden">
        <div class="cat-wrapper flex gap-3 items-center py-2">
            <!-- <p class="heading bg-black text-white font-semibold p-1">Categories</p> -->
            <ul class="flex justify-center gap-8 w-full">
                <li>Electronics</li>
                <li>Women</li>
                <li>Accessories</li>
                <li>Bags</li>
                <li>Kids</li>
                <li class="active">Deals</li>
            </ul>
        </div>
    </div>
    <span class="inline-block bg-gray-200 h-[1px] w-full"></span>
    <div class="mobile_right_nav" [ngClass]="{'open': !sideNavIsOpen}">
        <ul class="flex flex-col gap-2 p-4 h-full text-black">
            <li class="flex items-center justify-between">
                <div class="signed-in-user flex items-center gap-2 ">
                    <i class="fa-user-circle fa text-3xl "></i>
                    <img *ngIf="false" class="h-9 w-9 bg-cover rounded-full overflow-hidden" alt="default image">
                    <p *ngIf="false"  class="username">Donald</p>
                    <a class="signInLink hover:underline" >Sign In</a>
                </div>
                <button (click)="toggleSideNav()">
                    <svg width="30" height="30" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.14645 2.85355C1.95118 2.65829 1.95118 2.34171 2.14645 2.14645C2.34171 1.95118 2.65829 1.95118 2.85355 2.14645L8 7.29289L13.1464 2.14645C13.3417 1.95118 13.6583 1.95118 13.8536 2.14645C14.0488 2.34171 14.0488 2.65829 13.8536 2.85355L8.70711 8L13.8536 13.1464C14.0488 13.3417 14.0488 13.6583 13.8536 13.8536C13.6583 14.0488 13.3417 14.0488 13.1464 13.8536L8 8.70711L2.85355 13.8536C2.65829 14.0488 2.34171 14.0488 2.14645 13.8536C1.95119 13.6583 1.95119 13.3417 2.14645 13.1464L7.29289 8L2.14645 2.85355Z" fill="black"/>
                        </svg>
                </button>
            </li>
            <ng-container *ngIf="showAllDepartments == false; else departments">
                <li (click)="toggleDepartmentList()">All Departments <i class='bx bx-chevron-right' ></i></li>
                <li>Accounts</li>
                <li>Wishlist</li>
                <li>Orders</li>
                <hr>
                <li>Gift Cards</li>
                <hr>
                <li class="mt-auto">Help</li>
                <li>Contact Us</li>
                <li>Feedback</li>
            </ng-container>
            <ng-template #departments>
                <li (click)="toggleDepartmentList()"><i class="bx bx-chevron-left"></i> Back to Menu.</li>
            </ng-template>
        </ul>
    </div>
</header>