<div class="card border p-4 rounded-lg">
    <div class="flex justify-between items-center">
        <p class="card__tag new-badge">New</p>
        <p class="bookmark"><i class="bx bx-bookmark text-gray-400"></i></p>
    </div>
    <div class="card__image-wrapper">
        <img src="assets/images/blue_ray_glass.jpg" alt="alternative image of card">
    </div>
    <div class="card__meta flex flex-col gap-2 justify-center text-center">
        <p class="card__title font-semibold">Blue Ray Glasses</p>
        <p class="card__price flex gap-2 justify-center"><span class="discountPrice font-bold">{{715 | currency:'$'}}</span> <span class="og-price line-through text-gray-300  text-sm">{{2200 | currency:'$'}}</span></p>
        <p class="card__seller text-sm text-gray-400 font-semibold">MD Courier</p>
    </div>
    <div class="card__cta flex justify-center relative z-10">

        <button class="inline-flex justify-center gap-2 border-2 px-6 py-2 rounded-xl">Add to cart <span><i class='bx bx-cart-add text-md' ></i></span></button>
    </div>
</div>