<section class="mt-2 mx-auto container bento-box-3 ">
    <div class="slider">
        <img src="assets/images/main banner.jpg" class="h-full w-full inline-block object-cover object-center" alt="main banner image">
    </div>
    <div class="notice">
        <img src="assets/images/electronic advert.jpg" class="h-full w-full inline-block object-cover object-center" alt="main banner image">

    </div>
    <div class="notice2">
        <img src="assets/images/jewelry advert.jpg" class="h-full w-full inline-block object-cover object-center" alt="main banner image">

    </div>
</section>
<section class="why-choose-us container mx-auto mt-16">
    <h2 class="section-header text-3xl font-bold text-center">Why Sunken Treasures?</h2>
    <p class="text-center mt-6 px-2 sm:w-2/3 mx-auto">Choosing our platform means joining a community dedicated to smart, sustainable, and savvy shopping. With our carefully curated selection of quality second-hand items, you can discover unique treasures at affordable prices, all while contributing to a greener planet.</p>
    <div class="cta flex justify-center mt-4">
        <button class="primary-text-btn">Learn More</button>
    </div>
</section>
<section class="mt-16 bg-slate-100 py-16">
    <div class="container mx-auto">
        <h2 class="section-header text-3xl font-bold text-center">Featured Products</h2>
        <div class="cards-wrapper custom-scrollbar mt-6">
            <ngx-slick-carousel class="carousel" 

                    #slickModal="slick-carousel" 
                    [config]="{'slidesToScroll': 1, 'slidesToShow': slidesToShow}" 
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slides" class="slide flex justify-center">
                        <app-card routerLink="/products/details/test"></app-card>
                    </div>
        </ngx-slick-carousel>
            <!-- <div class="cards flex lg:justify-center gap-4 mt-10 py-4">
            </div> -->
        </div>
        <div class="cta flex justify-center mt-8">
            <button routerLink="/products" class="primary-outline-btn">View All Products</button>
        </div>
    </div>
</section>
<section >
    <div class="flex h-[80vh]">
        <div class="fp-advert1" class="relative w-1/2">
            <img class="w-full h-full object-cover object-center  top-0 left-0" src="assets/images/female-shoes.jpg" alt="image of full width advert">
        </div>
        <div class="fp-advert2" class="relative w-1/2">
            <img class="w-full h-full object-cover object-center absolute top-0 left-0" src="assets/images/male-shoes.jpg" alt="image of full width advert">
        </div>
    </div>
    
</section>
<section class="categories mt-10 py-16 hidden">
    <div class="container mx-auto">
        <h2 class="section-header text-3xl font-bold text-center">Find What You Need in No Time</h2>
        <p class="mt-6 text-center w-2/3 mx-auto">
            Whether you're hunting for a vintage gem or the latest tech gadget, our intuitive filters and smart recommendations make finding your perfect item a breeze. Dive into personalized categories, use dynamic search options, and enjoy a seamless, stress-free shopping experience. 
        </p>
        <div class="w-full mt-10">
                <div class="flex categories-wrapper  min-h-[50vh] p-4 gap-4">
                    <div class="electronic-cat w-[400px] bg-gray-300 flex flex-col p-4">
                        <p class="feature-cat text-2xl text-black my-2 font-medium">Electronics</p>
                        <img class="" src="assets/images/demo09-520x520.jpg.jpg" alt="Image of Electronic Category">
                        <ul class="cat-links">
                            <li>Earphones</li>
                            <li>Smartphone</li>
                            <li>Appliances</li>
                            <li>Laptop & Computers</li>
                            <li class="text-accent font-medium active hover:text-primary">Search Electronics</li>
                        </ul>
                    </div>
                    <div class=" flex flex-col overflow-hidden">
                        <p class="cards-title text-black my-2 font-medium text-2xl">New in Electronics</p>
                        <div class="cards-wrapper w-full  px-4 overflow-x-scroll  custom-scrollbar">

                            <div class="cards flex gap-4 py-4">
                                <app-card *ngFor="let product of [1,2,3,4]"></app-card>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
</section>
<section id="advert " class="overflow-hidden from-slate-100 to-white bg-gradient-to-b py-12 mb-12">
    <div  class="container mx-auto">
      <h2 class="text-2xl font-semibold my-4">Items below {{1000 | currency: "JMD$ "}}</h2>
      <div class="items flex justify-center gap-12">
        <div class="item flex flex-col justify-center" *ngFor="let item of [1,2,3,4,5]">
          <div class="item__img-wrapper bg-white rounded-full overflow-hidden">
            <img src="assets/images/blue_ray_glass.jpg" alt="image of blue ray glass" class="item__img h-[200px] w-[200px] object-contain">
          </div>
          <p class="item__category text-center text-black mt-4 text-lg font-semibold">Fashion</p>
        </div>
      </div>
    
    </div>
  </section>
<section class=" overflow-hidden cta container mx-auto bg-secondary p-8 rounded-xl">
    <h2 class="text-3xl text-white font-semibold">Pleased with what you see?</h2>
    <p class="text-lg text-white mt-4">Become part of a community that values sustainability, smart shopping, and entrepreneurial spirit</p>
    <div class="cta mt-4 flex justify-end">
        <button class="primary-text-btn">Sign Up</button>
    </div>

</section>
