<div class="mini-footer-wrapper p-4 flex items-center flex-col gap-3">
    <ul class="mini-footer-nav flex list-none gap-3 text-sm">
        <li class="cursor-pointer hover:underline">Accessibility</li>
        <li class="cursor-pointer hover:underline">User Agreement</li>	
        <li  class="cursor-pointer hover:underline">Privacy</li>
        <li class="cursor-pointer hover:underline">Cookies</li>
        <li class="cursor-pointer hover:underline">AdChoice</li>
    </ul>
    <p class="text-[12px]">Copyright © {{year}} Sunken Treasures LLC. All Rights Reserved. </p>
    
</div>