<section id="st-prod" class="min-h-[60vh] container mx-auto mt-8">
    <div id="filter-section" class="p-4  border-r border-gray-300 ">
        <div class="relative mb-3">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="collapse-1"
              >
                <span>Category</span>
                <i class="absolute right-0 pt-1 text-xs bx bx-plus group-open:opacity-0"></i>
                <i class="absolute right-0 pt-1 text-xs opacity-0 bx bx-minus group-open:opacity-100"></i>
              </button>
            </h6>
            <div
              data-collapse="collapse-1"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                This is the list of categories to filter for
              </div>
            </div>
          </div>
          <div class="relative mb-3">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="collapse-2"
              >
                <span>Price</span>
                <i class="absolute right-0 pt-1 text-xs bx bx-plus group-open:opacity-0"></i>
                <i class="absolute right-0 pt-1 text-xs opacity-0 bx bx-minus group-open:opacity-100"></i>
              </button>
            </h6>
            <div
              data-collapse="collapse-2"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                We're not always in the position that we want to be at. We're constantly
                growing. We're constantly making mistakes. We're constantly trying to
                express ourselves and actualize our dreams.
              </div>
            </div>
          </div>
          <div class="relative mb-3">
            <h6 class="mb-0">
              <button
                class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                data-collapse-target="collapse-3"
              >
                <span>Brand</span>
                <i class="absolute right-0 pt-1 text-xs bx bx-plus group-open:opacity-0"></i>
                <i class="absolute right-0 pt-1 text-xs opacity-0 bx bx-minus group-open:opacity-100"></i>
              </button>
            </h6>
            <div
              data-collapse="collapse-3"
              class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
            >
              <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
                We're not always in the position that we want to be at. We're constantly
                growing. We're constantly making mistakes. We're constantly trying to
                express ourselves and actualize our dreams.
              </div>
            </div>
          </div>
    </div>
    
    <div id="listing-section" class="p-4">
        <div class="list-meta mb-4 flex items-center justify-between">
            <ul class="seller-list flex gap-2">
                <li class="seller-chip">MD Courier</li>
                <li class="seller-chip">Rocket</li>
                <li class="seller-chip">Test Seller</li>
            </ul>
            <div class="sort-form">
               <label>
                <span>Sort by</span>
                <select name="sort-type" class="text-black text-sm font-semibold">
                    <option value="recommended">Relevance</option>
                    <option value="low_to_high">Low to High</option>
                    <option value="high_to_low">High to Low</option>
                    <option value="newest_first">Newest First</option>
                    <option value="recently_discounted">Recently Discounted</option>
                </select>
               </label> 
            </div>
        </div>
        <div class="card-wrapper grid gap-4 grid-cols-3">
            <app-card *ngFor="let item of [1,2,3,4,5,6,7,8]"></app-card>
        </div>
    </div>
</section>
<section id="recommendation"></section>
