<span class="inline-block bg-gray-200 h-[1px] w-full"></span>

<section class=" overflow-hidden container mx-auto flex flex-col justify-center my-10 items-center gap-4">
    <div class="logo-wrapper flex justify-center">
        <img class=" h-[60px]" src="/assets/svgs/sunken_treasures_light_logo.svg" alt="Sunken treasures logo">
    </div>
    <ul class="nav-links flex gap-4  px-4 flex-wrap sm:flex-nowrap justify-center text-sm  ">
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Privacy Policy</li>
        <li>Terms and Condition</li>
        <li>About</li>
    </ul>
    <p class="copyright text-center text-xs">Copyright &copy; {{year}}</p>
</section>
