<span class="inline-block bg-gray-200 h-[1px] w-full"></span>

<section class="container mx-auto flex flex-col justify-center my-10 items-center gap-4">
    <div class="logo-wrapper flex justify-center">
        <img class=" h-[60px]" src="/assets/svgs/sunken_treasures_light_logo.svg" alt="Sunken treasures logo">
    </div>
    <ul class="nav-links flex gap-4 w-1/3">
        <li>About</li>
        <li>Contact</li>
        <li>Privacy Policy</li>
        <li>Terms and Condition</li>
        <li>About</li>
    </ul>
    <p class="copyright text-center text-sm">Copyright &copy; {{year}}</p>
</section>
